<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>651205411820-tmalddd225e8atqpkkie1ilckj86u5kp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.651205411820-tmalddd225e8atqpkkie1ilckj86u5kp</string>
	<key>API_KEY</key>
	<string>AIzaSyAtv7Qt4Oah0knB7IQu1neB6l1_Kz5A0TY</string>
	<key>GCM_SENDER_ID</key>
	<string>651205411820</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uberClone</string>
	<key>PROJECT_ID</key>
	<string>uberclone-79c23</string>
	<key>STORAGE_BUCKET</key>
	<string>uberclone-79c23.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:651205411820:ios:480f209c3ff37e47</string>
	<key>DATABASE_URL</key>
	<string>https://uberclone-79c23.firebaseio.com</string>
</dict>
</plist>